body {
    color: red;
}
h1 {
    color: red;
}
.description {
    color: green;
}
#short-note {
    color: cyan;
}
a:link {
    background-color: lightgreen;
    padding: 20px;
}
a:hover{
    color:blue;
    background-color: hotpink;
    text-decoration: none;
}
a:visited {
    color: green;
    background-color: cyan;
}
h2:hover {
    color: orangered;
}
h2 {
    transition-duration: 2s;
}