body {
    border: 3px solid black;
    outline: 20px;
}
.burger {
    font-family: 'poppins' sans-serif;
    font-style: italic;
    display: flex;
    flex-direction: row;

}
.background ul {
    list-style: none;
    background: linear-gradient(to right, orange 0%, orange 50%);
    padding:0px;
    margin: 0px;
    text-align: right;
   }
   .background li {
       display: inline-block;
       height:300px;
   }
   .background a {
       text-decoration: none;
       color: black;width: 100px;
       display: block;
       padding: 5px 10px;
       font-weight: bold;
   }
.Rain {
    font-weight: bold;
    font-size: 30px;
    margin-top: 8%;
}
.image2 {
    background-position: top 50px, right 50px;
}
.primary-btn {
    color:white;
    background-color: orange;
    padding:10px 30px 10px 30px;
    border-top-right-radius: 15px;
    border-radius: 10px;
    word-spacing: 0px;
    font-size: 10px;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
.disp {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background-color: white;
    position: relative;
}
.div1 {
    border: 1px solid black;
    height:20vh;
    width:15%;
    left:15%;
    top:4vh;
    position: absolute;
    border-radius: 5px;
    text-align: center;
}
.div2 {
    border: 1px solid black;
    height: 30%;
    width: 20%;
    left:40%;
    top:1.5vh;
    position: absolute;
    border-radius: 5px;
    text-align: center;
}
.div3 {
    border:1px solid black;
    height: 20%;
    width:20%;
    right:10%;
    top:4vh;
    position: absolute;
    border-radius: 5px;
    text-align: center;
}
.menu {
    text-align: center;
    top: 50%;
    font-size: x-large;
    
}
.divA {
    border: 1px solid black;
    width:15%;
    height:30vh;
    left:40%;
    position: absolute;
    border-radius: 5px;
    right: 30px;
    display: flex;
}