h1 {
    color:red;
    font-size: 28px;
    text-align: center;
}
h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color:brown;
}
ul {
    list-style-type: none;
}
li {
    color: tomato;
    font-style: italic;
    text-align: center;
}
