body{
    font-family: Sans-Serif;
  }
  h1{
    text-align: center;
    padding: 10px 0px 10px 0px;
    background-color: black;
    color: white;
  }
  
  img{
    height: 300px;
    width: 300px;
  }
  span,h2{
    color: white;
    background-color: red;
    padding: 5px;
   }

