div:first-child{
    background-color: lime;
    padding: 10px;
  }
  #relative{
    /*delete this line and add your styling here*/
    position: relative;
    right: 30px;
  }
  div:last-child{
    background-color: lime;
    padding: 10px;
  }
  