body {
    background-color: blue;
}
.first {
    height: 300px;
    width: 300px;
    border: 2px solid white;
    background-image: url("https://goo.gl/C2eDu1](https://goo.gl/C2eDu1");
    background-size: contain;
}