span{
    background-color: black;
    color: white;
    font-family: Tahoma;
    padding: 3px;
  }
  p{
    font-size: 24px;
    font-family: Segoe UI;
    border-bottom: 3px solid black;
    padding-bottom: 20px;
  }
  /*h3{
    color:#f0f0f0;
    background-color: #33ee33;
    padding: 30px;
  }*/